.body{
    background-color: rgb(150, 205, 187);
}

.s1{
    display: flex;
    height: 100px;
    margin: 20px;
    background-color: rgb(158, 154, 154);
}

.d1{
    background-color: rgb(36, 34, 31);
}

.image{
    width: 140px;
    height: 120px;
}

.navbar{
    margin-left: auto;
}